* {
  box-sizing: border-box;
}
body{
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  background-color: white; /* Optional: Add background color to the header */
}
.logo-container{
  padding: 30px 15px 10px 35px;
}
.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px; /* Adjust the margin as needed */
}

nav a {
  text-decoration: none;
  color: #333; /* Optional: Set the link color */
}
.Heading{
  margin-left: 50px;
}

.learn-more-btn {
  position: absolute;
  z-index: 3;
  font-family: Raleway, sans-serif;
  margin-left: 1100px;
  cursor: pointer;
  padding: 0 0 40px 0;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  width: 100px;
  border: 3px solid black;
  height: 5px;
}

 /* second listed items */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    
  }

  li {
    float: left;
  }

  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 0 5px 100px;
    text-decoration: none;
  }

  /* .label{
    margin-left: 55px;
    align-items: center;
    width: 270px;
    height: 30px;
  }
  .search-bar{
    margin-top: 30px;
  } */
  /* .plant{
    width: 250px;
    height: 300px;
    margin-left: 15px;
  } */
.container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  form.nosubmit {
    border: none;
    padding: 0;
   }
   .nosubmit {
    margin-right: 0; /* Adjust the margin as needed */
}
   input.nosubmit {
    margin-left: -75px;
    margin-right: 10px;
     border: 1px solid #ddd;
     height: 38px;
     width: 280px;
     padding: 9px 4px 9px 40px;
      background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
   }

  .Slots{
    margin-left: 55px;
    margin-top: 0;
    display: flex;
  }

  select{
    margin-bottom: 1px;
    width: 280px;
    height: 40px;
    border: 1px solid #ddd;
    padding-left: 10px;
    margin-right: 40px;
}

   .products{
    display: flex;
    justify-content: space-between; 
    margin: 0;
    margin-top: 30px;
    width: 1320px;
  } 
  
  figure {
    text-align: center;
    margin:0;
  }

  .plant {
    max-width: 80%; 
    margin-bottom: 2px;
    margin-left: 45px;
  }

  figcaption {
    margin-top: 2px; 
  }