<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Aqua-project</title>
</head>
<body>
    <div class="header">
        <div class="logo-container">
         <img src="/images/63de868edd106636841b2c2c_habitat-logo.svg" alt="image" class="logo">
        </div>
      <nav class="container">
           <ul>
             <li><a href="#Live Plants">Live Plants</a></li>
             <li><a href="#Live Fish">Live Fish</a></li>
             <li><a href="#Kits">Kits</a></li>
             <li><a href="#Accessories">Accessories</a></li>
             <li><a href="#Blog">Blog</a></li>
             <li><a href="#About">About</a></li>
             <li><a href="#Contact">Contact</a></li>
           </ul>
     </nav>
   </div>
       
     <div class="container-two">
        <div class="Heading">
          <h1>Live Plants</h1>
          <p>Shop our large collection of live premium aquatic plants and algaes.</p>
        </div>
        <div class="learn-more-btn">
          <p>Shop Kits</p>
        </div>
     </div>

     <div class="container-three">
      <div class="filter">
        <p>Filter</p>
      </div>
       <ul>
          <li><a href="#View all">View all</a></li>
         <li><a href="#Live Fish">Live Fish</a></li>
         <li><a href="#Live Plants">Live Plants</a></li>
         <li><a href="#Hardscape">Hardscape</a></li>
         <li><a href="#Clearance">Clearance</a></li>
        </ul>
     </div>

     <div class="container-four">
      <form class="nosubmit">
          <input class="nosubmit" type="search" placeholder="Keyword">
      </form>

      <div class="Slots">
          <span class="section">
              <select id="items1">  
                  <option value="">Rocks</option>
                  <option value="LV">Live Plants</option>
                  <option value="LF">Live Fish</option>
                  <option value="TA">Tanks & Accessories</option> 
              </select>
          </span>
        
          <span class="section">
              <select id="items2">  
                  <option value="">Under$25</option>
                  <option value="LV">Live Plants</option>
                  <option value="LF">Live Fish</option>
                  <option value="TA">Tanks & Accessories</option> 
              </select>
          </span>

          <span class="section">
              <select id="items3">  
                  <option value="">Beginner</option>
                  <option value="LV">Live Plants</option>
                  <option value="LF">Live Fish</option>
                  <option value="TA">Tanks & Accessories</option> 
              </select>
          </span>
      </div>
  </div>
  <div class="products">
    <span>
        <figure>
            <img src="/images/63e2bd3fea5b8545775ca921_Group 190.jpg" alt="" class="plant">
            <figcaption>Caption 1</figcaption>
          
            <p>$ 12.99 USD</p>
        </figure>
    </span>

    <span>
        <figure>
            <img src="/images/63e2bd6cf07cb6e2fea95170_Group 197.jpg" alt="" class="plant">
            <figcaption>Caption 2</figcaption>
          
            <p>$ 12.99 USD</p>
        </figure>
    </span>

    <span>
        <figure>
            <img src="/images/63e2bd36e3d44f38d4b41b3e_Group 189.jpg" alt="" class="plant">
            <figcaption>Caption 3</figcaption>
          
            <p>$ 12.99 USD</p>
        </figure>
    </span>

    <span>
        <figure>
            <img src="/images/63e2bd36e3d44f38d4b41b3e_Group 189.jpg" alt="" class="plant">
            <figcaption>Caption 4</figcaption>
          
            <p>$ 12.99 USD</p>
        </figure>
    </span>
</div>
<div class="products">
  <span>
      <figure>
          <img src="/images/63e2bd3fea5b8545775ca921_Group 190.jpg" alt="" class="plant">
          <figcaption>Caption 1</figcaption>
        
          <p>$ 12.99 USD</p>
      </figure>
  </span>

  <span>
      <figure>
          <img src="/images/63e2bd6cf07cb6e2fea95170_Group 197.jpg" alt="" class="plant">
          <figcaption>Caption 2</figcaption>
        
          <p>$ 12.99 USD</p>
      </figure>
  </span>

  <span>
      <figure>
          <img src="/images/63e2bd36e3d44f38d4b41b3e_Group 189.jpg" alt="" class="plant">
          <figcaption>Caption 3</figcaption>
        
          <p>$ 12.99 USD</p>
      </figure>
  </span>

  <span>
      <figure class="product-component">
          <img src="/images/63e2bd36e3d44f38d4b41b3e_Group 189.jpg" alt="" class="plant">
         <div class="image content">
          <figcaption>Caption 4</figcaption>
          <p>$ 12.99 USD</p>
        </div>
      </figure>
  </span>
</div>

<!-- <div class="row-images">
    <div class="colum-image">
        <img src="/images/63e2bd36e3d44f38d4b41b3e_Group 189.jpg" width="100%;">
        <figcaption>Caption 4</figcaption>
        <p>$ 12.99 USD</p>
    </div>
    <div class="colum-image">
        <img src="/images/63e2bd36e3d44f38d4b41b3e_Group 189.jpg" width="100%;">
        <figcaption>Caption 4</figcaption>
        <p>$ 12.99 USD</p>
    </div>
    <div class="colum-image">
        <img src="/images/63e2bd36e3d44f38d4b41b3e_Group 189.jpg" width="100%;">
        <figcaption>Caption 4</figcaption>
        <p>$ 12.99 USD</p>
    </div>
    <div class="colum-image">
        <img src="/images/63e2bd36e3d44f38d4b41b3e_Group 189.jpg" width="100%;">
        <figcaption>Caption 4</figcaption>
        <p>$ 12.99 USD</p>
    </div>
</div> -->


    <div class="e-section">
        <form action="">
            <label for="email"></label>
            <input type="text" id="email"
            name="email" value="Enter your email">
        </form>
        <div>
            <button>Subscribe</button>
        </div>
    </div>
  <h3 class="component-data">
    join our newsletter
  </h3>
  <p class="component-para">Join for deals, new drops, and inspiration sent straight to your inbox.</p>
</div>
<div class="component-list">
  <ul>
    <li>Shop</li>
    <li>Shop Live Fish</li>
    <li>Shop Live Plants</li>
    <li>Shop Accessories</li>
    <li>Shop Kits</li>
  </ul>
</div>
<!-- <div>
    <ul>
        <li>Shop</li>
        <li>Shop Live Fish</li>
        <li>Shop Live Plants</li>
        <li>Shop Accessories</li>
        <li>Shop Kits</li>
      </ul>
</div> -->
<!-- <div>
    <ul>
        <li>Shop</li>
        <li>Shop Live Fish</li>
        <li>Shop Live Plants</li>
        <li>Shop Accessories</li>
        <li>Shop Kits</li>
      </ul>
</div> -->
<div class="section-color"></div>
</div>


</body>
</html>