<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Aqua-project</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#Live Plants">Live Plants</a></li>
            <li><a href="#Live Fish">Live Fish</a></li>
            <li><a href="#Kits">Kits</a></li>
            <li><a href="#Accessories">Accessories</a></li>
            <li><a href="#Blog">Blog</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
        <img src="/images/63de868edd106636841b2c2c_habitat-logo.svg" alt="image" class="logo">
    </nav>
    
    <div class="Heading">
       <h1>Live Plants</h1>
       <p>Shop our large collection of live premium aquatic plants and algaes.</p>
    </div>

    <ul>
        <li><a href="#View all">View all</a></li>
        <li><a href="#Live Fish">Live Fish</a></li>
        <li><a href="#Live Plants">Live Plants</a></li>
        <li><a href="#Hardscape">Hardscape</a></li>
        <li><a href="#Clearance">Clearance</a></li>
    </ul>
      
        <div class="search-bar">
                <input type="text" id="name" name="text" placeholder="Keyword" class="label">
                <input type="text" id="name" name="text" placeholder="Rocks" class="label">
                <input type="text" id="name" name="text" placeholder="Under $25" class="label">
                <input type="text" id="name" name="text" placeholder="Beginner" class="label">
        </div>

        <div class="products">
            <img src="/images/63e2bd3fea5b8545775ca921_Group 190.jpg" alt="plant" class="plant">
            <img src="/images/63e2bd6cf07cb6e2fea95170_Group 197.jpg" alt="" class="plant">
            <img src="/images/63e2bd36e3d44f38d4b41b3e_Group 189.jpg" alt="" class="plant">
            <img src="/images/63e2837aeb88f43b23c46412_beta.jpg" alt="" class="plant">
        </div>

</body>
</html>