* {
  
  box-sizing: border-box;
}
body{
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; 
}
.logo-container{
  padding: 30px 15px 10px 55px;
}
.logo {
  width: 100px; 
  height: auto; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0 30px;
  display: flex;
}

nav li {
  margin: 0 5px; 
}

nav a {
  text-decoration: none;
  color: #333; 
}

/* container two styling */

.container-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 5px;
}

.Heading{
  margin-left: 50px;
  width: 80%;
}

.learn-more-btn {
  position: absolute;
  font-family: Raleway, sans-serif;
  margin-left: 1100px;
  padding: 0 0 40px 0;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  width: 100px;
  border: 3px solid black;
  height: 5px;
}

 /* second listed items */

.container-three{
  display: flex;
  align-items: center;
}
.filter{
  margin-left: 50px;
  padding: 0 0 40px 0;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  width: 100px;
  border: 3px solid black;
  height: 5px;
}
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
    display: flex; 
  }

  li {
    float: left;
  }

  li a {
    display: inline-block;
    color: black;
    padding: 10px 0 5px 100px;
    text-decoration: none;
  }

  .container-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}


.Slots {
    display: flex;
}

select {
    margin-right: 10px;
}

.section {
    display: flex;
    align-items: center;
}


   input.nosubmit {
    display: flex;
     margin-left: 40px; 
     border: 1px solid #ddd;
     height: 38px;
     width: 280px;
     padding: 9px 4px 9px 40px;
      background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
   }

  .Slots{
    margin-left: 55px;
    margin-top: 0;
    display: flex;
  }

  select{
    margin-bottom: 1px;
    width: 280px;
    height: 40px;
    border: 1px solid #ddd;
    padding-left: 10px;
    margin-right: 40px;
}


.labels{
  padding: 10px 5px;
  display: flex;
  justify-content: space-around;
}

  /* .colum-image{
    float: left;
    width: 22.22%;
    padding: 15px;
  }
  .row-images::after {
    display: flex;
    
  } */

   .products{
    display: flex;
    justify-content:center; 
    margin: 0;
    margin-top: 30px;  
  } 
  
  figure {
    text-align: center;
    margin:0;
  }

  .plant {
    max-width: 80%;
    margin-bottom: 2px;
    margin-left: 45px;
  }

  .image content{
    text-align: left;
  }

  figcaption {
    margin-top: 2px; 
    
  }
  .section-color{
    margin-top: 100px;
    background: black;
    height: 300px;
    width: 100%;
  }






  .component-data{
    position: absolute;
    z-index: 3;
    color: #ddd;
    margin-top: 50px;
    margin-left: 50px;
  }
  .component-para{
    position: absolute;
    z-index: 3;
    color: #ddd;
    margin-top: 80px;
    margin-left: 50px;
  }
  .component-list > ul{
    position: absolute;
    z-index: 3;
    color: #ddd;
    margin-top: 120px;
    margin-left: 150px;
  }
  .e-section{
    position: absolute;
    z-index: 3;
    margin-top: 50px;
    margin-left: 800px;
  }
  button{

    margin-left: 200px;
  }